.contact_wrapper svg {
  font-size: 1em;
  vertical-align: middle;
  margin-right: 5px;
}
.contact-form {
  .MuiInputBase-input {
    color: white !important; // Change to any color that contrasts with the background
  }

  .MuiInputLabel-root {
    color: white !important; // Change label color if needed
  }

  .MuiOutlinedInput-root {
    fieldset {
      border-color: white !important; // Adjust border color for visibility
    }

    &:hover fieldset {
      border-color: lightgray !important;
    }

    &.Mui-focused fieldset {
      border-color: #ffcc00 !important; // Change focus border color
    }
  }
}

label {
  font-size: 1.2rem;
  font-family: 'DomaineDispNar-Medium', sans-serif;
}

.form-flex {
  display: flex;
  gap: 15px;
  padding-bottom: 15px;
}

.form-flex .MuiFormControl-root {
  width: 100%;
}

form {
  width: 100% !important;
}

.body-form {
  width: 100% !important;
  margin-bottom: 15px !important;
}